@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width:100vw;
    height:100vh;
    overflow: hidden;
    background: linear-gradient(rgb(195, 174, 243),rgb(160, 229, 236));
}

.blob-1,
.blob-2{
    position: absolute;
    width:50rem;
    z-index: -1;
}

.blob-1{
    top:-16rem;
    left:-16rem;
    animation: spin 30s infinite linear;
  
}

.blob-2{
    bottom:-16rem;
    right:-16rem;
    animation: spin 30s infinite linear;
}

.blob-2 path{
    fill:red;
}

@keyframes spin {
    0% {
      transform: rotate(0deg) ;
    }
    100% {
      transform: rotate(360deg) ;
    }
  }